{% load static %}

<div class="tab-content" id="boxes-content">
  {% comment %} <div class="tab-pane fade show active" id="pills-Moscow" role="tabpanel" aria-labelledby="pills-Moscow-tab">
    <h1 class="text-center mb-4 fw-bold">Москва, ул. Рокотова, д. 15</h1>
    <div class="row d-flex flex-column mb-5">
      <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-between align-self-center">
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Контакты" data-bs-content="Список контактов">Контакты</a>
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Описание" data-bs-content="Текст описания">Описание</a>
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Проезд" data-bs-content="Описание проезда">Проезд</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-flex flex-column align-items-center">
                <img src="../staticfiles/img/image2.png" alt="" />
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex flex-column align-items-center">
                <img src="../staticfiles/img/image2.png" alt="" />
              </div>
            </div>
          </div>
          <div class="w-100 d-flex justify-content-center my-3">
            <button data-bs-target="#carouselExampleControls1" data-bs-slide="prev" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
              </svg>
            </button>
            <div style="width: 1rem"></div>
            <button data-bs-target="#carouselExampleControls1" data-bs-slide="next" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
          <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
            <span class="fs_30 fw-bold SelfStorage_orange">17 °С</span>
            <span class="SelfStorage_grey mb-3">Температура на складе</span>
            <span class="fs_30 fw-bold SelfStorage_orange">14 из 390</span>
            <span class="SelfStorage_grey mb-3">Боксов свободно</span>
          </div>
          <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
            <span class="fs_30 fw-bold SelfStorage_orange">до 3.5 м</span>
            <span class="SelfStorage_grey mb-3">Высота потолка</span>
            <span class="fs_30 fw-bold SelfStorage_orange">от 3034 ₽</span>
            <span class="SelfStorage_grey mb-3">Оплата за месяц</span>
          </div>
          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <a href="#pills-tab" role="button" class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать бокс</a>
            <button class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange">Позвонить мне</button>
          </div>
          <a href="#" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-Odintsovo" role="tabpanel" aria-labelledby="pills-Odintsovo-tab">
    <h1 class="text-center mb-4 fw-bold">Одинцово, ул. Серверная, д. 36</h1>
    <div class="row d-flex flex-column mb-5">
      <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-between align-self-center">
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Контакты" data-bs-content="Список контактов">Контакты</a>
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Описание" data-bs-content="Текст описания">Описание</a>
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Проезд" data-bs-content="Описание проезда">Проезд</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-flex flex-column align-items-center">
                <img src="../staticfiles/img/image2.png" alt="" />
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex flex-column align-items-center">
                <img src="../staticfiles/img/image2.png" alt="" />
              </div>
            </div>
          </div>
          <div class="w-100 d-flex justify-content-center my-3">
            <button data-bs-target="#carouselExampleControls2" data-bs-slide="prev" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
              </svg>
            </button>
            <div style="width: 1rem"></div>
            <button data-bs-target="#carouselExampleControls2" data-bs-slide="next" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
          <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
            <span class="fs_30 fw-bold SelfStorage_orange">18 °С</span>
            <span class="SelfStorage_grey mb-3">Температура на складе</span>
            <span class="fs_30 fw-bold SelfStorage_orange">160 из 258</span>
            <span class="SelfStorage_grey mb-3">Боксов свободно</span>
          </div>
          <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
            <span class="fs_30 fw-bold SelfStorage_orange">до 3.5 м</span>
            <span class="SelfStorage_grey mb-3">Высота потолка</span>
            <span class="fs_30 fw-bold SelfStorage_orange">от 2264 ₽</span>
            <span class="SelfStorage_grey mb-3">Оплата за месяц</span>
          </div>
          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <a href="#pills-tab" role="button" class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать бокс</a>
            <button class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange">Позвонить мне</button>
          </div>
          <a href="#" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-Pushkino" role="tabpanel" aria-labelledby="pills-Pushkino-tab">
    <h1 class="text-center mb-4 fw-bold">Пушкино, ул. Строителей, д. 5</h1>
    <div class="row d-flex flex-column mb-5">
      <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-between align-self-center">
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Контакты" data-bs-content="Список контактов">Контакты</a>
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Описание" data-bs-content="Текст описания">Описание</a>
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Проезд" data-bs-content="Описание проезда">Проезд</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div id="carouselExampleControls3" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-flex flex-column align-items-center">
                <img src="../staticfiles/img/image2.png" alt="" />
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex flex-column align-items-center">
                <img src="../staticfiles/img/image2.png" alt="" />
              </div>
            </div>
          </div>
          <div class="w-100 d-flex justify-content-center my-3">
            <button data-bs-target="#carouselExampleControls3" data-bs-slide="prev" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
              </svg>
            </button>
            <div style="width: 1rem"></div>
            <button data-bs-target="#carouselExampleControls3" data-bs-slide="next" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
          <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
            <span class="fs_30 fw-bold SelfStorage_orange">20 °С</span>
            <span class="SelfStorage_grey mb-3">Температура на складе</span>
            <span class="fs_30 fw-bold SelfStorage_orange">58 из 361</span>
            <span class="SelfStorage_grey mb-3">Боксов свободно</span>
          </div>
          <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
            <span class="fs_30 fw-bold SelfStorage_orange">до 5.5 м</span>
            <span class="SelfStorage_grey mb-3">Высота потолка</span>
            <span class="fs_30 fw-bold SelfStorage_orange">от 2154 ₽</span>
            <span class="SelfStorage_grey mb-3">Оплата за месяц</span>
          </div>
          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <a href="#pills-tab" role="button" class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать бокс</a>
            <button class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange">Позвонить мне</button>
          </div>
          <a href="#" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-Lubertsi" role="tabpanel" aria-labelledby="pills-Lubertsi-tab">
    <h1 class="text-center mb-4 fw-bold">Люберцы, ул. Советская, д. 88</h1>
    <div class="row d-flex flex-column mb-5">
      <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-between align-self-center">
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Контакты" data-bs-content="Список контактов">Контакты</a>
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Описание" data-bs-content="Текст описания">Описание</a>
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Проезд" data-bs-content="Описание проезда">Проезд</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div id="carouselExampleControls4" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-flex flex-column align-items-center">
                <img src="../staticfiles/img/image2.png" alt="" />
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex flex-column align-items-center">
                <img src="../staticfiles/img/image2.png" alt="" />
              </div>
            </div>
          </div>
          <div class="w-100 d-flex justify-content-center my-3">
            <button data-bs-target="#carouselExampleControls4" data-bs-slide="prev" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
              </svg>
            </button>
            <div style="width: 1rem"></div>
            <button data-bs-target="#carouselExampleControls4" data-bs-slide="next" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
          <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
            <span class="fs_30 fw-bold SelfStorage_orange">18 °С</span>
            <span class="SelfStorage_grey mb-3">Температура на складе</span>
            <span class="fs_30 fw-bold SelfStorage_orange">4 из 130</span>
            <span class="SelfStorage_grey mb-3">Боксов свободно</span>
          </div>
          <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
            <span class="fs_30 fw-bold SelfStorage_orange">до 3.5 м</span>
            <span class="SelfStorage_grey mb-3">Высота потолка</span>
            <span class="fs_30 fw-bold SelfStorage_orange">от 1408 ₽</span>
            <span class="SelfStorage_grey mb-3">Оплата за месяц</span>
          </div>
          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <a href="#pills-tab" role="button" class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать бокс</a>
            <button class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange">Позвонить мне</button>
          </div>
          <a href="#" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-Domodedovo" role="tabpanel" aria-labelledby="pills-Domodedovo-tab">
    <h1 class="text-center mb-4 fw-bold">Домодедово, ул. Орджоникидзе, д. 29</h1>
    <div class="row d-flex flex-column mb-5">
      <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-between align-self-center">
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Контакты" data-bs-content="Список контактов">Контакты</a>
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Описание" data-bs-content="Текст описания">Описание</a>
        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Проезд" data-bs-content="Описание проезда">Проезд</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div id="carouselExampleControls5" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-flex flex-column align-items-center">
                <img src="../staticfiles/img/image2.png" alt="" />
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex flex-column align-items-center">
                <img src="../staticfiles/img/image2.png" alt="" />
              </div>
            </div>
          </div>
          <div class="w-100 d-flex justify-content-center my-3">
            <button data-bs-target="#carouselExampleControls5" data-bs-slide="prev" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
              </svg>
            </button>
            <div style="width: 1rem"></div>
            <button data-bs-target="#carouselExampleControls5" data-bs-slide="next" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
          <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
            <span class="fs_30 fw-bold SelfStorage_orange">21 °С</span>
            <span class="SelfStorage_grey mb-3">Температура на складе</span>
            <span class="fs_30 fw-bold SelfStorage_orange">56 из 2348</span>
            <span class="SelfStorage_grey mb-3">Боксов свободно</span>
          </div>
          <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
            <span class="fs_30 fw-bold SelfStorage_orange">до 4.5 м</span>
            <span class="SelfStorage_grey mb-3">Высота потолка</span>
            <span class="fs_30 fw-bold SelfStorage_orange">от 2988 ₽</span>
            <span class="SelfStorage_grey mb-3">Оплата за месяц</span>
          </div>
          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <a href="#pills-tab" role="button" class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать бокс</a>
            <button class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange">Позвонить мне</button>
          </div>
          <a href="#" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
        </div>
      </div>
    </div>
  </div> {% endcomment %}

  {% for stock in stocks %}
    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="pills-{{ stock.slug }}" role="tabpanel" aria-labelledby="pills-{{ stock.slug }}-tab">
      <h1 class="text-center mb-4 fw-bold">{{ stock.name }}, {{ stock.address }}</h1>
      <div class="row d-flex flex-column mb-5">
        <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-between align-self-center">
          <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Контакты" data-bs-content="Список контактов">Контакты</a>
          <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Описание" data-bs-content="Текст описания">Описание</a>
          <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Проезд" data-bs-content="Описание проезда">Проезд</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-flex flex-column align-items-center">
                  <img src="{% static "img/image2.png" %}" alt="" />
                </div>
              </div>
              <div class="carousel-item"> 
                <div class="d-flex flex-column align-items-center">
                  <img src="{% static "img/image2.png" %}" alt="" />
                </div>
              </div>
            </div>
            <div class="w-100 d-flex justify-content-center my-3">
              <button data-bs-target="#carouselExampleControls1" data-bs-slide="prev" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                </svg>
              </button>
              <div style="width: 1rem"></div>
              <button data-bs-target="#carouselExampleControls1" data-bs-slide="next" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="row">
            <p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
            <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
              <span class="fs_30 fw-bold SelfStorage_orange">17 °С</span>
              <span class="SelfStorage_grey mb-3">Температура на складе</span>
              <span class="fs_30 fw-bold SelfStorage_orange">{{ stock.free_boxes }} из {{ stock.total_boxes }}</span>
              <span class="SelfStorage_grey mb-3">Боксов свободно</span>
            </div>
            <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
              <span class="fs_30 fw-bold SelfStorage_orange">до 3.5 м</span>
              <span class="SelfStorage_grey mb-3">Высота потолка</span>
              <span class="fs_30 fw-bold SelfStorage_orange">от {{ stock.min_price }} ₽</span>
              <span class="SelfStorage_grey mb-3">Оплата за месяц</span>
            </div>
            <div class="d-flex flex-column align-items-center align-items-lg-start">
              <a href="#pills-tab" role="button" class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать бокс</a>
              <button class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange">Позвонить мне</button>
            </div>
            <a href="#" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
