{% extends 'base.html' %}

{% block content %}
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center align-items-center">
          <form class="d-flex flex-column align-items-center" style="max-width: 420px" method="post">
            {% csrf_token %}
            <h1 class="modal-title text-center fw-bold mb-3">Вход</h1>
              {% for field in form %}
                <div class="mb-3">
                <label class="form-label" for="{{ field.id_for_label }}">{{field.label}}: </label>
                <br>
                <p align="center" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey">{{ field }}</p>
                <div class="form-error">{{ field.errors }}</div>
                </div>
             {% endfor %}
            <a href="{% url 'storage:forget' %}" class="SelfStorage_orange">Забыли пароль?</a>
            <button type="submit" class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Войти</button>
            <span>Нет аккаунта? <a href="{% url 'storage:registration' %}" class="SelfStorage_orange">Зарегистрируйтесь на сайте</a></span>
          </form>
        </div>
      </div>

{% endblock %}