{% extends 'base.html' %}

{% block content %}
      <div class="modal-content">
        <div class="modal-body d-flex justify-content-center align-items-center">
          <form class="d-flex flex-column align-items-center" style="max-width: 420px" method="post">
            <h1 class="modal-title text-center fw-bold mb-3">Регистрация</h1>
            <form method="post">
            {% csrf_token %}
            <h1 class="mb-4 text-center"><strong>Регистрация</strong></h1>
            {% for field in form %}
              <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{field.label}}</label>
                <br>
                <p class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey">{{ field }}</p>
                <div class="form-error">{{ field.errors }}</div>
              </div>
            {% endfor %}
            <span class="fw-light SelfStorage_grey">Нажимая на кнопку, вы подтверждаете свое <a href="#" class="SelfStorage_grey">согласие на обработку персональных данных</a></span>
            <button type="submit" class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Зарегистрироваться</button>
            <span>Уже зарегистрированы? <a href="{% url 'storage:auth' %}" class="SelfStorage_orange">Войти в личный кабинет</a></span>
          </form>
        </div>
      </div>

{% endblock %}